################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tests/3DHistech.IdentityServer4.IntegrationTests/obj
/Tests/3DHistech.IdentityServer4.UnitTests/bin/Debug/net8.0
/Tests/3DHistech.IdentityServer4.UnitTests/obj
/3DHistech.IdentityServer4/bin/Debug/net8.0
/3DHistech.IdentityServer4/build
/3DHistech.IdentityServer4/obj
